Copyedit the following ``title``, ``body``, and ``highlight``. You must not
introduce any substantial changes to the content that you're provided. You
must only copyedit the content to match the style guide below.

Guidelines for ``title``:

* Use sentence case. Note that Pigweed module names are always all-lowercase,
  however. Examples:

  * Replace "Parse Key-Value Fields From Tokenized Logs" with
    "Parse key-value fields from tokenized logs"

* Make sure that Pigweed module names (anything beginning with ``pw_``) in
  the title are always all lowercase. When referring to a C/C++ macro or constant,
  it's OK to keep it all uppercase if that's how it appears in the code. Examples:

  * Replace "Pw_rpc" with "pw_rpc"

  * Replace "Pw_span" with "pw_span"

* Use plaintext only:

  * Remove inline code formatting (i.e. remove backtick characters)

  * Remove italic formatting

  * Remove bold formatting

Guidlines for ``body``:

* Use reStructuredText markup, not Markdown.

  * All inline code must be wrapped in DOUBLE backtick characters (``), not
    single backtick characters. Examples:

    * Replace this (lack of any inline code formatting):

      pw_clock_tree_mcuxpresso now includes a ClockMcuxpressoSysPll class
      template

      With this:

      ``pw_clock_tree_mcuxpresso`` now includes a ``ClockMcuxpressoSysPll``
      class template

    * Replace this (use of double quote characters):

      "pw_clock_tree_mcuxpresso" now includes a "ClockMcuxpressoSysPll" class
      template

      With this:

      ``pw_clock_tree_mcuxpresso`` now includes a ``ClockMcuxpressoSysPll``
      class template

    * Replace this (use of single backtick character):

      `pw_clock_tree_mcuxpresso` now includes a `ClockMcuxpressoSysPll` class
      template

      With this:

      ``pw_clock_tree_mcuxpresso`` now includes a ``ClockMcuxpressoSysPll``
      class template

  * Never allow double backticks followed by `s`. This is not valid
    reStructuredText.

      * Replace this:

        ``pw_kernel``s IPC methods

        With this:

        The IPC methods of ``pw_kernel``

* Remove all URLs. Examples:

  * Replace this:

    [Pigweed](https://pigweed.dev) is a modular platform

  * With this:

    Pigweed is a modular platform

* Refer to Pigweed modules directly by name. Examples:

  Replace this:

  The ``pw_clock_tree_mcuxpresso`` module now includes

  With this:

  ``pw_clock_tree_mcuxpresso`` now includes

Guidelines for ``highlight``:

* Use the ``body`` guidelines.

Now copyedit this `title`, `body`, and `highlight` to match the style guide.

```
$context
```
