Draft a summary for the following group of commits. The summary will be used in
the Pigweed changelog.

The intended audience of the changelog is a software engineer working in a
downstream project that depends on Pigweed. Your changelog summary must
concisely explain the user-facing impact of the topic.

Note: In the context of Pigweed, the term `module` must only be used when
discussing one of the libraries or products that start with `pw_*`, e.g.
`pw_rpc`, `pw_string`, etc.

Output guidelines:

* `title`: a pithy H2-level section heading, no more than 60 characters.
  It must only use plaintext. It must not contain any backticks. It must use
  the format `{tag}: {description}` where `tag` is the name of a Pigweed module
  like `pw_tokenizer` or a relevant general term like `Bazel`. Examples:

  * pw_clock_tree_mcuxpresso: System PLL support

  * pw_thread: Support for 64-bit priorities

  * pw_log_tokenized: Parse key-value fields from tokenized logs

  * pw_kernel: Flexible RISC-V timer selection

  * pw_rpc_transport: Configurable event trackers

  * pw_tokenizer: Token domains now supported

  * Bazel: Pigweed is now available as a Bazel module

  * pw_containers: Emplace and insert operations for deques

  * pw_crypto: ECDH P256 support

  * RP2040: Expanded support for Raspberry Pi's MCU

  * Python: Minimum supported version is now 3.10

* `body`: a 1-3 sentence explanation of the topic. It should use double
  backticks to represent inline code formatting. It must not contain any
  URLs. You must only mention the most important user-facing changes in
  the topic. Do not mention secondary, trivial changes that also occurred.
  If making a subjective statement about why the change is an improvement,
  make sure to use extremely humble and fact-based language. Examples:

  * ``pw_clock_tree_mcuxpresso`` now includes a ``ClockMcuxpressoSysPll``
    class template, enabling control over the System Phase-Locked Loop (PLL)
    on MCUXpresso-based systems. This lets projects configure, enable, disable,
    and bypass the System PLL, as well as manage its associated phase fractional
    dividers, providing enhanced flexibility for clock management.

  * A new ``pw::log_tokenized::ParseFields`` C++ function is now available for
    parsing metadata fields from tokenized log format strings. This enables
    downstream projects to easily extract key-value pairs from structured logs,
    using configurable delimiters such as ``■`` and ``♦``.

  * The thread priority system in ``pw_thread`` now supports 64-bit integer
    types for thread priorities. This enhancement allows for a broader and more
    granular range of priority values, accommodating systems with larger
    priority scales.

  * Previously, the ``Read()`` method returned ``DATA_LOSS`` if a field on the
    wire had no corresponding decode callback set in the message struct. Now,
    such fields are simply ignored, allowing the decoding to succeed with
    ``OkStatus``. This enables users to process only the fields they are
    interested in.

  * ``pw_kernel`` now provides a configurable interface for the RISC-V ``MTVEC``
    register. This allows projects to explicitly define whether exceptions are
    handled in ``Direct`` or ``Vectored`` mode during early kernel
    initialization, offering greater flexibility for system-level exception
    management.

* `highlight`: a 1 sentence summary of the change. It MUST be 1 sentence only.
  It should follow the formatting guidelines for `body`.

General writing guidelines:

* When referring to Pigweed modules, just use the module name. E.g.
  "The ``pw_clock_tree_mcuxpresso`` module now includes …" should be rewritten
  to "``pw_clock_tree_mcuxpresso`` now includes …``".

* Don't refer to "you" or "engineers" when addressing the user. Instead,
  use "projects" or "downstream projects".

* Don't use possessive ``'s`` after inline code. E.g. "``pw_rpc``'s ``Send``
  method``" should be rewritten to "the ``Send`` method of ``pw_rpc``". In many
  contexts you can omit the reference to the module completely and just say
  "the ``Send`` method".

* Code items such as names of files, methods, classes, CLI tools, etc. must
  always be formatted as inline code by wrapping them in double backtick (``)
  characters. Do not use a single backtick (`) character! The single backtick
  formats these items as italic.

Now create ``body``, ``title``, and ``highlight`` for this topic:

```
$context
```
