You will given a set of topics. Determine the top 15 most important topics.

We will use this information to determine what topics to include in the
Pigweed changelog. The top 15 most important topics will be included.
All of the other topics will be omitted from the changelog.

```
$context
```

Use these criteria when deciding what topics are most important:

* The intended audience of the changelog is a software engineer
  working in a downstream project that depends on Pigweed. A topic
  that only affects upstream Pigweed codebase maintainers is not relevant to
  the intended audience and should be dropped.

* Popular/important modules: pw_rpc, pw_protobuf, pw_sync, pw_unit_test,
  pw_containers, pw_log, pw_tokenizer, pw_status, pw_console, pw_thread,
  pw_span, pw_assert, pw_chrono, pw_async2, pw_function, pw_kvs, pw_hdlc,
  pw_allocator, pw_transfer, pw_kernel

* The most newsworthy (and therefore important) general topics:
  creation of a new module, substantial addition/modification/removal of APIs,
  fixing major functional bugs, major performance optimizations

* New features are more important than breaking changes, especially when the
  breaking change occurs in a less popular/important module.

The following types of topics are never included in the changelog:

* Minor new features

* Minor improvements

* Small performance optimizations

* Bug fixes

* Documentation updates of any sort (additions, changes, or removals)

  * Any change that occurs in the `//docs` directory or one of its subdirectories
    is considered a documentation update (e.g. `module_metadata.json` updates
    often look newsworthy but should actually be ignored because that file lives
    within `//docs`)

* Updates to the documentation website (frontend, backend, or infrastructure)

* Internal refactors

* Changes to development dependencies

* Internal testing changes

* Dependency updates

* Changes that only affect build systems

* AI features (these are all experimental for now)

Output guidelines:

* `id`: the ID of the topic

* `reason`: An explanation of why the topic should be included in the changelog
