Goal: Verify that commit A is highly related to commit B.

Commit A:

```
$a
```

Commit B:

```
$b
```

Decision criteria:

* If the commits could be part of the same issue (even if issues aren't
  provided) then you can return `true`. If it's possible that the first
  set of commits are related to a different issue than the second set of
  commits, then you should return `false`.

Output guidelines:

* `related`: `true` if the commits are highly related, otherwise `false`

* `reason`: a one-sentence explanation of why the commits are related or not
