// Copyright 2025 The Pigweed Authors
//
// Licensed under the Apache License, Version 2.0 (the "License"); you may not
// use this file except in compliance with the License. You may obtain a copy of
// the License at
//
//     https://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
// License for the specific language governing permissions and limitations under
// the License.
#![no_std]

pub mod handle {
{%- for object_name in process.ordered_object_names %}
    #[allow(unused)]
    pub const {{object_name | upper}}: u32 = {{loop.index0}};
{%- endfor %}
}

pub mod mapping {
{%- for mapping_name in process.ordered_memory_mapping_names %}
{%- set mapping = process.memory_mappings[mapping_name] -%}
    #[allow(unused)]
    pub const {{mapping_name | upper}}_START_ADDRESS: usize = {{mapping.start_address | hex}};
{%- endfor %}
}

pub mod signals {
    #[allow(unused_imports)]
    use syscall_defs::Signals;

    {%- for object_name in process.ordered_object_names %}
    {%- set object = process.objects[object_name] %}
        {%- if object.type == "interrupt" %}
            {%- for irq_name in object.ordered_interrupt_names %}
                {%- set mapped_signal = object.interrupt_signal_map[irq_name] %}
    #[allow(unused)]
    pub const {{irq_name | upper}}: syscall_defs::Signals = {{mapped_signal}};
            {%- endfor %}
        {%- endif -%}
    {%- endfor %}
}

pub mod interrupts {
    {%- for object_name in process.ordered_object_names %}
    {%- set object = process.objects[object_name] %}
        {%- if object.type == "interrupt" %}
            {%- for irq_name in object.irqs %}
                {%- set irq = object.irqs[irq_name] %}
    #[allow(unused)]
    pub const {{irq_name | upper}}: u32 = {{irq}};
            {%- endfor %}
        {%- endif -%}
    {% endfor %}
}
