// Copyright 2025 The Pigweed Authors
//
// Licensed under the Apache License, Version 2.0 (the "License"); you may not
// use this file except in compliance with the License. You may obtain a copy of
// the License at
//
//     https://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
// License for the specific language governing permissions and limitations under
// the License.
#![no_std]

pub mod handle {
{%- for object in process.objects %}
    #[allow(unused)]
    pub const {{object.name | upper}}: u32 = {{loop.index0}};
{%- endfor %}
}

pub mod mapping {
{%- for mapping in process.memory_mappings %}
    #[allow(unused)]
    pub const {{mapping.name | upper}}_START_ADDRESS: usize = {{mapping.start_address | hex}};
{%- endfor %}
}

pub mod signals {
    #[allow(unused_imports)]
    use syscall_defs::Signals;

    {%- for object in process.objects %}
        {%- if object.type == "interrupt" %}
            {%- for irq in object.irqs %}
                {%- set mapped_signal = object.interrupt_signal_map[irq.name] %}
    #[allow(unused)]
    pub const {{irq.name | upper}}: syscall_defs::Signals = {{mapped_signal}};
            {%- endfor %}
        {%- endif -%}
    {%- endfor %}
}

pub mod interrupts {
    {%- for object in process.objects %}
        {%- if object.type == "interrupt" %}
            {%- for irq in object.irqs %}
    #[allow(unused)]
    pub const {{irq.name | upper}}: u32 = {{irq.number}};
            {%- endfor %}
        {%- endif -%}
    {% endfor %}
}

pub mod constants {
    {% for constant in constants %}
        {%- if constant.type == "string" %}
            {%- set type = "&str" %}
        {%- else %}
            {%- set type = constant.type %}
        {%- endif -%}
    #[allow(unused)]
    pub const {{constant.name | upper}}: {{type}} = 
        {%- if constant.type == "string" %}"{{constant.value}}"
        {%- elif constant.type == "char" %}'{{constant.value}}'
        {%- else %}{{constant.value}}{% endif %};
    {%- endfor %}
}
